{% load static %}

<!DOCTYPE html>
<hmtl lang=en>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Your Name">
		<link rel="stylesheet" href="{% static 'core/Blackbox_style.css' %}">
		<title>Milo Kapczynski Site</title>
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="screenprint" > Screenprinting Project </a></li>
			</ul>
		</nav>


		<h1>Blackbox investigation CER</h1>

		<h2>Backround</h2>
		<p class=iceland>Our first project in New Media and Technology for Social Change class was the mystery black box investigation. The mystery black box is a box that, when provided with water, outputs a different amount of water. The insides of the box are not visible, so our goal in the investigation was to theorize what the contraption in the black box that produced this phenomenon. The only two visible materials on the black box were a funnel at the top for water input and a spout at the bottom for water output.</p>

		<h2>Claim</h2>
<p class=iceland>There are multiple water-holding containers in the mystery black box.</p>

<h2>Evidence</h2>
<p class=iceland>The mystery black box seemed to output a random amount of water, regardless of the amount of water inputted. We tested the black box by measuring the amount of water we poured in and the amount that came out. For example, we had two separate trials with the same input (1000ml) and totally different outputs(0ml and 2200ml). We also noticed that each trial took a different amount of time for the water output to slow to a drip. See table one for all trials.</p>

<p class=iceland>We designed our model around randomness. In our model we had a weak spring that would push water into one of 2 containers. We made this by connecting a piece of plastic to a spring with hot glue. Those containers were on a rotating axle that made it more likely for water to come out of the side with more water. We connected the containers to a wooden chopstick and allowed it to rotate freely out the back of the box. At the bottom, we had a collection tray that held the water and dispensed it out of the bottom spout. To create it, we connected tubes to the containers and bottom tray that allowed water to flow freely from one to the other. Unfortunately, our model was not fully functional and zero was an extremely common output(regardless of input). See table 2 for all trials.</p>

<h2>Reasoning</h2>
<p class=iceland>Models allow us to test our theories at a small, low risk scale. Models are useful for showing ideas, testing ideas, and making smaller, cheaper representations of devices. Models are limited to their budget, scale, and simplicity. In both of our tables we can see that in some trials, less water comes out than is put in. That water cannot simply have disappeared between trials, so there must be at least one storage unit for the “extra” water. The reason I believe there are two water-containing vessels is because once the water is separated into an amount to store and an amount to output, the amount to store must be stored in one container and the water passing through must be in another temporarily. If there were no containers in the mystery black box, all the water that came in would come out as there would be no place to store it.</p>

<h2>Photos of Model Blackbox Construction<h2>

<h3>Construction of IRL Blackbox Model<h3>
<img src="{% static 'core/blackbox_building_photo.JPG' %}" alt="Render Blackbox Maya Model Image" style="width:700px;">

<h3>Heat Gun Viewing of Original Blackbox<h3>
<img src="{% static 'core/heat_gun_investigation.JPG' %}" alt="Render Blackbox Maya Model Image" style="width:700px;">

<h2>Modeling, Animation, and Augmented Reality Process</h2>

<p class=iceland>After constructing out black box model, we learned to 3D model it. We learned how to use a program called Maya to model basic things at first, but we slowly moved on to more advanced things like building our box. Most of the classes on modeling were focused on developing skills, rather than a walk through of how to model our box. This left almost all of the modeling to us, which allowed us to innovate and problem solve. </p>

<h3>Maya Rendering of Model Blackbox (side view)</h3>
<img src="{% static 'core/maya_blackbox.jpg' %}" alt="Render Blackbox Maya Model Image" style="width:700px;">

<p class=iceland> After learning to model in Maya, we learned to animated. I animated water moving through my model (not pictured). To do this, I had to animate the parts inside the box (pictured below). </p>

<h3>Maya Rendering of Model Blackbox (front view)</h3>
<img src="{% static 'core/maya_blackbox_inside_photo.jpg' %}" alt="Render Blackbox Maya Model Image" style="width:700px;height:500px;">

<p class=iceland>Unfortunately, my black box model did not work correctly when rendered in augmented reality, however one of my teamates' models did. Augment reality takes a 3D rendering of a model and places it in the real world, either on the ground (like in this photo) or onto a specialized cube. </p>

<h3>Maya Rendering in Augmented Reality of Teamates Model<h3>
<img src="{% static 'core/augmented_reality.JPG' %}" alt="Render Blackbox Maya Model Image" style="width:700px;">

<h2> </h2>
<a href="https://objects.mergeedu.com/link/R6WYR4" target = "_blank" > Link to augmented
reality project. </a>


<img class="centered" src="{% static 'core/BlackboxQR.png' %}" alt="Blackbox model QR code" style="width:350px;">


<h2>Data of Original Blackbox<h2>

<table>
  <tr>
    <th>Trial</th>
    <th>Volume of water input(ml)</th>
    <th>Volume of water output(ml)</th>
    <th>Time(min:sec) </th>
  </tr>
<tr>
<td>1</td>
<td>1000</td>
<td>0</td>
<td>N/A</td>
</tr>
	<tr>
<td>2</td>
<td>1000</td>
<td>2200</td>
<td>1:33</td>
</tr>
	<tr>
<td>3</td>
<td>1000</td>
<td>530</td>
<td>1:01</td>
</tr>
	<tr>
<td>4</td>
<td>1000</td>
<td>1500</td>
<td>0:55</td>
</tr>
	<tr>
<td>5</td>
<td>1000</td>
<td>700</td>
<td>1:02</td>
</tr>
<tr>
<td>6</td>
<td>2000</td>
<td>237</td>
<td>1:42</td>
</tr>
	<tr>
<td>7</td>
<td>600</td>
<td>300</td>
<td>2:01</td>
</tr>
</table>

<h2>Data of our Blackbox<h2>

<table>
  <tr>
    <th>Trial</th>
    <th>Volume of water input(ml)</th>
    <th>Volume of water output(ml)</th>
      </tr>
<tr>
<td>1</td>
<td>100</td>
<td>0</td>
</tr>
	<tr>
<td>2</td>
<td>500</td>
<td>0</td>
</tr>
	<tr>
<td>3</td>
<td>300</td>
<td>0</td>
</tr>
	<tr>
<td>4</td>
<td>200</td>
<td>40</td>
</tr>
	<tr>
<td>5</td>
<td>90</td>
<td>0</td>
</tr>
<tr>
<td>6</td>
<td>100</td>
<td>0</td>
</tr>
	<tr>
<td>7</td>
<td>100</td>
<td>90</td>
</tr>
</table>

<h2> Project Reflection </h2>

<p class=iceland>This project wasn't always fun, but it taught me a lot. I learned to model in 3D, Animate, and Code. My biggest sucess in this project was modeling in 3D and coding. I think they turned out the best because I enjoyed them the most and put the most effort into them. Our physical model was lacking in many ways. We lacked the capabilities to build a real model successfully and therefore I am not supprised our model had leaks and did not preform how we wanted it to. Overall this project was diffucult in places but mostly easy and fun. </p>

<h3> Pictionary maya practice </h3>

<img src="{% static 'core/Mouse_pictionary.png' %}" alt="Mouse model in Maya" style="width:700px;">

<h4> Pictionary prompt mouse </h4>

<img src="{% static 'core/Peace_sign.png' %}" alt="Peace sign model in Maya" style="width:700px;">

<h4> Pictionary prompt peace sign </h4>

<h3> 21st century skill</h3>
	<p> The twenty-first century skill I used most in this project was accessing and analyzing information. I had to analyze the original black box and theorize what components were in it to recreate them. I had organize and synthesize information useing multiple methods, as we did many tests using different amount of water, different water tempertures, and different colors of water. I had to take all these findings and synthesize them into a single recreation of the original black box. </p>

<marquee height=100px truespeed=truespeed behavior="alternate" direction="left" scrollamount="1" scrolldelay=10" loop=" " >
	<p id=tilt> Milo</p>
</marquee>
</marquee>

	</body>
</html>